## .NET
bin/
obj/
*.user
*.suo
.vs/

## NuGet
*.nupkg
*.snupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## OS
.DS_Store
Thumbs.db

## Publish & test output
publish/
TestResults/
